<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="">
    <div class="aHl"></div>
    <div id=":5c" tabindex="-1"></div>
    <div id=":5p" class="ii gt">
        <div id=":5q" class="a3s aXjCH " role="gridcell" tabindex="-1"><u></u>
            <div marginwidth="0" marginheight="0">
                <div id="m_8297677823345033121wrapper" dir="ltr"
                     style="background-color:#ededed;margin:0;padding:70px 0 70px 0;width:100%">
                    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                        <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="600"
                                       id="m_8297677823345033121template_container"
                                       style="background-color:#ffffff;border:1px solid #d5d5d5;border-radius:3px!important">
                                    <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="600"
                                                   id="m_8297677823345033121template_header"
                                                   style="background-color:#00a665;border-radius:3px 3px 0 0!important;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif">
                                                <tbody>
                                                <tr>
                                                    <td id="m_8297677823345033121header_wrapper"
                                                        style="padding:16px 28px;display:block">
                                                        <h1 style="color:#ffffff;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:20px;font-weight:300;line-height:150%;margin:0;text-align:center">
                                                            Solicitação de Parceria</h1>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="m_8297677823345033121template_header_image">
                                                <p style="margin-top:30px;text-align: center;">
                                                    <img src="https://tecnodataead.com.br/acarde/cfc1.7/images/logo-tecnodata.png"
                                                         alt="Tecnodata"
                                                         style="border:none;display:inline-block;font-size:14px;font-weight:bold;height:auto;outline:none;text-decoration:none;text-transform:capitalize;vertical-align:middle;margin-right:10px"
                                                         class="CToWUd">
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="600"
                                                   id="m_8297677823345033121template_body">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" id="m_8297677823345033121body_content"
                                                        style="background-color:#ffffff">
                                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding:10px 48px 0;">
                                                                    <div id="m_8297677823345033121body_content_inner"
                                                                         style="color:#37454a;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:justify;margin-top:30px;">
                                                                        <p style="margin:0 0 16px"><strong><label
                                                                                th:text="${nomeContato}"></label></strong>
                                                                            segue protocolo referente sua solicitação de
                                                                            parceria com a Tecnodata Educacional.</p>
                                                                        <div style="margin-bottom:10px">
                                                                            <table class="m_8297677823345033121td"
                                                                                   cellspacing="0" cellpadding="6"
                                                                                   style="width:100%;font-family:\'Helvetica Neue\',Helvetica,Roboto,Arial,sans-serif;color:#37454a;border:1px solid #e5e5e5;vertical-align:middle"
                                                                                   border="1">
                                                                                <tfoot>
                                                                                <tr>
                                                                                    <th class="m_8297677823345033121td"
                                                                                        scope="row" colspan="2"
                                                                                        style="width:100%;text-align:left;border-top-width:4px;color:#37454a;border:1px solid #e5e5e5;vertical-align:middle;padding:12px">
                                                                                        <label th:text="${razaoSocialPessoaFisica}"></label>
                                                                                    </th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="m_8297677823345033121td"
                                                                                        scope="row" colspan="2"
                                                                                        style="width:100%;text-align:left;border-top-width:4px;color:#37454a;border:1px solid #e5e5e5;vertical-align:middle;padding:12px">
                                                                                        <label th:text="${cnpjCpf}"></label>
                                                                                    </th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="m_8297677823345033121td"
                                                                                        scope="row" colspan="2"
                                                                                        style="width:100%;text-align:left;border-top-width:4px;color:#37454a;border:1px solid #e5e5e5;vertical-align:middle;padding:12px">
                                                                                        <label th:text="${estado}"></label>
                                                                                    </th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="m_8297677823345033121td"
                                                                                        scope="row" colspan="2"
                                                                                        style="width:100%;text-align:left;border-top-width:4px;color:#37454a;border:1px solid #e5e5e5;vertical-align:middle;padding:12px">
                                                                                        <label th:text="${nomeContato}"></label>
                                                                                    </th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="m_8297677823345033121td"
                                                                                        scope="row" colspan="2"
                                                                                        style="width:100%;text-align:left;border-top-width:4px;color:#37454a;border:1px solid #e5e5e5;vertical-align:middle;padding:12px">
                                                                                        <label th:text="${telefone}"></label>
                                                                                    </th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="m_8297677823345033121td"
                                                                                        scope="row" colspan="2"
                                                                                        style="width:100%;text-align:left;border-top-width:4px;color:#37454a;border:1px solid #e5e5e5;vertical-align:middle;padding:12px">
                                                                                        <label th:text="${email}"></label>
                                                                                    </th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="m_8297677823345033121td"
                                                                                        scope="row" colspan="2"
                                                                                        style="width:100%;text-align:left;border-top-width:4px;color:#37454a;border:1px solid #e5e5e5;vertical-align:middle;padding:12px">
                                                                                        <label th:text= "${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></label>
                                                                                    </th>
                                                                                </tr>
                                                                                </tfoot>
                                                                            </table>
                                                                        </div>
                                                                        <p style="text-align: left;padding-bottom: 40px;padding-top: 20px">
                                                                            Em breve nossa equipe fará contato.
                                                                            Agradecemos seu interesse e continuamos à
                                                                            disposição.</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="10" cellspacing="0" width="600"
                                                   id="m_8297677823345033121template_footer">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" style="padding:0">
                                                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td colspan="2" valign="middle"
                                                                    id="m_8297677823345033121credit"
                                                                    style="padding:0 48px 20px 48px;border:0;color:#66caa3;font-family:Arial;font-size:12px;line-height:125%;text-align:center">
                                                                    <p th:text="${'Tecnodata Educacional ' + #dates.format(#dates.createNow(), 'yyyy') + ' Todos os direitos reservados.'}"> </p>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="yj6qo"></div>
                    <div class="adL"></div>
                </div>
                <div class="adL"></div>
            </div>
            <div class="adL"></div>
        </div>
    </div>
    <div id=":58" class="ii gt" style="display:none">
        <div id=":57" class="a3s aXjCH undefined" role="gridcell" tabindex="-1"></div>
    </div>
    <div class="hi"></div>
</div>
</body>
</html>